fastapi
uvicorn
sqlalchemy
python-dotenv
psycopg2-binary
passlib
bcrypt==4.0.1
python-jose
requests
loguru
twilio
pydantic-settings
beautifulsoup4
alembic
python-multipart
git+https://github.com/openai/CLIP.git
torch
torchvision
pillow
transformers
spacy