fastapi
uvicorn
sqlalchemy
python-dotenv
psycopg2-binary
passlib
bcrypt==4.0.1
python-jose
requests
loguru
twilio
pydantic-settings
beautifulsoup4
alembic
python-multipart
torch
torchvision
pillow
# git+https://github.com/openai/CLIP.git
transformers
# spacy
filetype
sentencepiece
huggingface_hub[hf_xnet]
langdetect
httpx
authlib
accelerate